body {
    background-color: #9BABB8;
    margin: 0 15%;
    padding: 0 ;
    color: #27374D;
}

h1, h2 {
    text-align: left;
    margin: 0;
    font-style: italic;
    background-color: #D7C0AE;
    color: #27374D;
}
    
h4 , h5, h6 {
    margin: 0;
}

button{
    background-color: #EEE3CB;
    border-radius: 10px;
    padding: 5px;
}

button a {
    color: black;
    text-decoration: none;
}

/*  Header */

header { 
    text-align: right;
}

header button {
    margin-top: 10px;
}

/*  Main */

body main {
    border: 1px solid;
    margin: 10px 100px;
    padding: 15px;
    background-color: #EEE3CB;
}

/* Profile */

.profile{
    display: inline-block;
    margin-bottom: 10px;
}

.profile img {
    float: left;
    margin-right: 10px;
    width: 20%;
    margin-bottom: 10px;
}

.profile h3 {
    text-align: center;
    
}

/* All information */

.all-information {
    display: flex;
}

/* Socials */

.socials {
    flex: 20%;
    border-top: 2px solid #D7C0AE;
    border-right: 2px solid  #D7C0AE ;
}

.socials h3 {
    font-style: italic;
}

.socials > ul {
    list-style: none;
    padding-bottom: 20px;
    border-bottom: 0.5px solid #D7C0AE;
}

.socials > ul > li > a{
    text-decoration: none;
    color: #27374D ;
}
/*  Information */

.information {
    flex: 80%;
    border-top: 2px solid #D7C0AE;
    padding-left: 25px;
}

.information h3 {
    text-align: center;
    text-decoration: underline;
    background-color: #D7C0AE;
    padding: 5px;
}

.information > ul {
    list-style: square;
}

.information > ul > li > h5 {
    margin-bottom: 10px;
}

.work {
    border-left: 1px solid #D7C0AE;
    margin-left: 50px;
    list-style: none;
}

footer {
    text-align: center;
    align-items: center;
    display: flex;
}

footer p {
    flex: 1;
}

footer button {
    margin-bottom: 10px;
}

/* Estudy */

.stady-info {
    border-left: 1px solid #D7C0AE;
    margin-left: 50px;
    list-style: none;
}


@media (max-width: 480px)  {
    
    body {
        background-color: #9BABB8;
        margin: 0;
        padding: 0 ;
        color: #27374D;
    }

    /* main */
    body main {
        border: 1px solid;
        margin: 10px;
        padding: 10px;
        background-color: #EEE3CB;
    }

    /* Profile */
    .profile {
        display: inline inline-block;
    }

    .profile img {
        width: 100px;
        height: 104px;
        
    }

    .all-information {
        display: inline-block;
    }
    
    .socials {
        flex: 0;
        border-top: 1px solid  #D7C0AE;
        border-right: 0px  
    }

    .information {
        border-top: 0px;
        padding-left: 0px;
    }

    .work {
        border-left: 1px solid #D7C0AE;
        margin-left: 0px;
        list-style: none;
    }
}

@media (max-width:  768px) and (min-width: 481px){

    body {
        background-color: #9BABB8;
        margin: 0;
        padding: 0 ;
        color: #27374D;
    }

    /* main */
    body main {
        border: 1px solid;
        margin: 10px;
        padding: 10px;
        background-color: #EEE3CB;
    }

    /* Profile */
    .profile {
        display: inline inline-block;
    }

    .profile img {
        width: 100px;
        height: 104px;
        
    }

    .all-information {
        display: inline-block;
    }
    
    .socials {
        flex: 0;
        border-top: 1px solid  #D7C0AE;
        border-right: 0px  
    }

    .information {
        border-top: 0px;
        padding-left: 0px;
    }

    .work {
        border-left: 1px solid #D7C0AE;
        margin-left: 0px;
        list-style: none;
    }
}
    
@media (min-width: 769px) and (max-width: 1024px) {

    body {
        background-color: #9BABB8;
        margin: 0;
        padding: 0 ;
        color: #27374D;
    }

    /* main */
    body main {
        border: 1px solid;
        margin: 10px;
        padding: 10px;
        background-color: #EEE3CB;
    }

    /* Profile */
    .profile {
        display: inline inline-block;
    }

    .profile img {
        width: 100px;
        height: 104px;
        
    }

    .all-information {
        display: inline-block;
    }
    
    .socials {
        flex: 0;
        border-top: 1px solid  #D7C0AE;
        border-right: 0px  
    }

    .information {
        border-top: 0px;
        padding-left: 0px;
    }

    .work {
        border-left: 1px solid #D7C0AE;
        margin-left: 0px;
        list-style: none;
    }
}
   
@media (min-width: 1025px ) and (max-width: 1200px) {

    body {
        background-color: #9BABB8;
        margin: 0;
        padding: 0 ;
        color: #27374D;
    }

    /* main */
    body main {
        border: 1px solid;
        margin: 10px;
        padding: 10px;
        background-color: #EEE3CB;
    }

    /* Profile */
    .profile {
        display: inline inline-block;
    }

    .profile img {
        width: 200px;
        height: 210px;
        
    }

    .all-information {
        display: inline-block;
    }
    
    .socials {
        flex: 0;
        border-top: 1px solid  #D7C0AE;
        border-right: 0px  
    }

    .information {
        border-top: 0px;
        padding-left: 0px;
    }

    .work {
        border-left: 1px solid #D7C0AE;
        margin-left: 0px;
        list-style: none;
    }
}
 @media (min-width: 1201px ) and (max-width: 1600px ){

    body {
        background-color: #9BABB8;
        margin: 0;
        padding: 0 ;
        color: #27374D;
    }

    /* main */
    body main {
        border: 1px solid;
        margin: 10px;
        padding: 10px;
        background-color: #EEE3CB;
    }

    /* Profile */
    .profile {
        display: inline inline-block;
    }

    .profile img {
        width: 200px;
        height: 210px;
        
    }

    .all-information {
        display: inline-block;
    }
    
    .socials {
        flex: 0;
        border-top: 1px solid  #D7C0AE;
        border-right: 0px  
    }

    .information {
        border-top: 0px;
        padding-left: 0px;
    }

    .work {
        border-left: 1px solid #D7C0AE;
        margin-left: 0px;
        list-style: none;
    }
}